{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, { 'attr': {'class': 'form-signin'} }) }}

        <div class="mb-3">
            {{ form_label(registrationForm.username) }}
            {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control', 'autocomplete': 'username', 'required': 'required', 'autofocus': 'autofocus'} }) }}
            {{ form_errors(registrationForm.username) }}
        </div>

        <div class="mb-3">
            {{ form_label(registrationForm.plainPassword, 'Password') }}
            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'autocomplete': 'new-password', 'required': 'required'} }) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="mb-3 form-check">
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} }) }}
            {{ form_label(registrationForm.agreeTerms, 'I agree to the terms', { 'label_attr': {'class': 'form-check-label'} }) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Register</button>

        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
